---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - armada.airshipit.org
  resources:
  - armadacharts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - armada.airshipit.org
  resources:
  - armadacharts/finalizers
  verbs:
  - update
- apiGroups:
  - armada.airshipit.org
  resources:
  - armadacharts/status
  verbs:
  - get
  - patch
  - update
